

h1 {
    color: black;
    background-color: teal;
}

.btn{
    color: blue;
    background-color: antiquewhite;
    border-radius: 50px;
    padding: 10px;
}
#btn1 {
    color: rgb(12, 15, 13);
    background-color: rgb(73, 38, 186);
    border-radius: 50px;
    padding: 10px;

}